{extend name="common/index_show" /}

{block name="webtitle"}
	首页 - AlbertWjw
{/block}

{block name="webshow"}
	{/*文章列表显示*/}
	{foreach $data as $key => $vo}
		<div class="article-list-item clearfux">
			<div class="title"><!--文章标题-->{$vo.title}</div>
			<div class="intro"><!--文章简介-->{$vo.description}</div>
			<div class="info">
				<!--文章信息（作者、时间）-->
				作者：<span><!--作者-->{$vo.author}</span><br/>
				<span><!--发布时间-->{$vo.creation_time}</span>
			</div>
			<a href="page/{$vo.id}.html">查看详情</a>
		</div>
	{/foreach}
{/block}

{block name="rightshow"}
	<form method="get" action="search">
		<div class="input-group">
			<input type="search" class="form-control" name="key" id="key" placeholder="搜索文章" />
			<div class="input-group-btn">
				<input class="btn btn-default" type="submit" id="buttonS" value="搜索" />
			</div>
		</div>
	</form>
{/block}