{extend name="common/index_show" /}

{block name="webshow"}
<form id="form1" name="form1" method="POST" action="handleAdd">
	<table width="780" border="0" cellpadding="8" cellspacing="1">
		<tr>
			<td colspan="2" align="center">发布文章</td>
		</tr>
		<tr>
			<td width="120">标题</td>
			<td width="625"><label for="title"></label><input type="text" name="title" id="title" /></td>
		</tr>
		<tr>
			<td>作者</td>
			<td><input type="text" name="author" id="author" /></td>
		</tr>
		<tr>
			<td>简介</td>
			<td><label for="description"></label><textarea name="description" id="description" cols="60" rows="5"></textarea></td>
		</tr>
		<tr>
			<td>内容</td>
			<td><textarea name="content" id="content" cols="60" rows="15"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input type="submit" id="button" value="发布" /></td>
		</tr>
	</table>
</form>
{/block}