{extend name="common/index_show" /}

{block name="webtitle"}
	文章管理 - AlbertWjw
{/block}
{block name="headright"}
{/block}

{block name="webshow"}
	<table>
	<tr>
		<td colspan="5" align="center">修改文章</td>
	</tr>
	<tr>
		<td style="text-align:center;">&nbsp编号&nbsp</td>
		<td style="text-align:center;">&nbsp标题&nbsp</td>
		<td style="text-align:center;">&nbsp作者&nbsp</td>
		<td style="text-align:center;">&nbsp发表时间&nbsp</td>
		<td style="text-align:center;">&nbsp最后修改时间&nbsp</td>
		<td style="text-align:center;">&nbsp&nbsp操作&nbsp&nbsp</td>
	</tr>
	{foreach $data as $key => $vo}
		<tr>
			<td style="text-align:center;">{$vo['id']}&nbsp</td>
			<td style="text-align:center;">{$vo['title']}&nbsp</td>
			<td style="text-align:center;">{$vo['author']}&nbsp&nbsp&nbsp&nbsp</td>
			<td style="text-align:center;">{$vo['creation_time']}&nbsp&nbsp&nbsp&nbsp</td>
			<td style="text-align:center;">{$vo['modification_time']}&nbsp</td>
			<td>
				<a href="delArticle?id={$vo['id']}">删除</a>
				<a href="modifyArticle?id={$vo['id']}">修改</a>
			</td>
		</tr>
	{/foreach}
	</table>
{/block}

{block name="rightshow"}
	{/*右边展示框*/}	
	<div>
		<h1>{$user_data['username']}</h1>
		<img width='100px' src="__STATIC__/img/peopleimg/{$user_data['img']}" />
	</div>
	<div>
		<a href="imgUpload">上传头像</a></br>
		<a href="addArticle">发布文章</a></br>
		{/*<a href="">回收站</a></br>*/}
		<a href="exitSign">退出登陆</a>
	</div>

{/block}